.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.table {
  display: grid;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 200px;
  height: 200px;
}
.cell {
  cursor: pointer;
  color: black;
  background: white;
  border: 1px solid #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checked-cell {
  cursor: pointer;
  color: black;
  background: lightskyblue;
  border: 1px solid #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.line-table {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 400px;
  height: 200px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgb(0,0,0,0.4)
}
.popup-content {
  position:absolute;
  left: 35%;
  right: 35%;
  top: 25%;
  height: 150px;
  opacity: 1;
  background:white;
}